body{
    margin: 0 auto;
}
*{
    box-sizing: border-box;
}
.menu-container{
    height: 10vh;
    background-color: rgb(134, 134, 241);
    display: flex;
}
.formula-container{
    height: 5vh;
    background-color: rgb(75, 114, 114);
}
.grid-container{
    height: calc(100vh - (10vh + 5vh + 5vh));
    background-color: rgb(190, 240, 240);
}
.sheet-container{
    height: 5vh;
    background-color: bisque;
}